*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.container{
	width: 760px;
    margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.centro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.alinharColuna{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12{
    width: 300px;
    margin: 30px auto;
}