/* Tamanho de Tablet */
@media  only screen and (min-width: 791px){
    
    /* Cabeçalho*/
    
    .menu_sanduiche{
        display: none;
    }
    
    .menu_links{
        display: inline-block;
    }
    
    .menu_links ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu_links ul li{
        margin: 0 7.5px;
    }
    
    .menu_links a{
        padding: 5px;
        font-family: 'Open Sans', 'sans-serif';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        color: #fff;
    }
    
    .menu_links a:focus, .menu_links a:hover{
        transition: 1s;
        color: #FF3300;
    }
    
    .menu_links .link_ativo{
        color: #FF3300;
    }
    
    /* Pagina Home */
    /* Intro home */
    
    .intro_home{
        height: 312px;
        padding: 90px;
        background: url('../img/home/intro/bg_intro_tratada.jpg') center no-repeat;
        background-size: cover;
    }
    
    /* Apresentação */
    
    .apresentacao .container{
        flex-direction: column;
    }
    
    /* Posts Recentes */
    
    .posts_recentes{
        min-height: 600px;
    }
    
    .posts_recentes>.container{
        flex-direction: column;
    }
    
    
    .posts_recentes .alinharColuna .container{
        justify-content: space-around;
    }
    
    .lista_posts .grid-3{
        width: 300px;
        margin: 30px auto;
    }
    
    /* Noticia */
    
    .noticias>.container{
        flex-direction: column;
    }
    
    .lista_noticias .primeiraColuna li:nth-child(1) article{
        background: url("../img/home/noticias/aniversario_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    
    .lista_noticias .primeiraColuna li:nth-child(3) article{
        background: url("../img/home/noticias/casamento_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    
    /* Dicas */
    
    .dicas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .dicas>.container{
        flex-direction: column;
    }
    
    .dicas .grid-4{
        width: 300px;
    }
    
    .dicas ul .card_dica:nth-child(2){
        display: inline-block;
    }
    
    /* Pagina Eventos */
    
    /* Intro Eventos */
    
    .intro_eventos{
        height: 312px;
        background: url("../img/eventos/intro/bg_intro_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    
    /* Listas de eventos */
    
    .casamentos .container, .aniversarios .container, .outras_festas .container{
        justify-content: center;
    }
    
    .casamentos .grid-6, .aniversarios .grid-6, .outras_festas .grid-6{
        width: 300px;
    }
    
    .lista_eventos li:nth-child(3), .lista_eventos li:nth-child(4){
        display: inline-block;
    }
    
    /* Nossos planos */
    
    .nossos_planos .container{
        flex-direction: column;
    }
    
    /* Contrate */
    
    .contrate{
        height: 410px;
        background: url("../img/eventos/contrate/bg_contrate_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    
    /* Pagina Local */
    /* Introdução local*/
    
    .intro_locais{
        height: 312px;
        background: url("../img/locais/intro/bg_intro_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    /* Sessão exbição */
    
    .locais{
        min-height: 1765px;
    }
    
    .locais .container{
        width: 760px;
        flex-direction: column;
    }
    
    .locais .container img{
        width: 600px;
        height: 400px;
    }
    
    /* Pagina servicos */
    /* Intro serviços */
    
    .intro_servicos{
        height: 312px;
        background: url("../img/servicos/intro/bg_intro_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    
    /* Serviços */
    
    .servicos>.container{
        flex-direction: column;
    }
    
    /* loja */
    
    .loja{
        min-height: 600px;
    }
    
    .loja>.container{
        flex-direction: column;
    }
    
    
    .loja .alinharColuna .container{
        justify-content: space-around;
    }
    
    .lista_decoracoes .grid-3{
        width: 300px;
        margin: 30px auto;
    }
    
    
    /* Contrate */
    
    .contrate_servico{
        height: 410px;
        background: url("../img/servicos/contrate/bg_contrate_tratda.jpg") center no-repeat;
        background-size: cover;
    }
    
    .contrate_servico .container{
        justify-content: center;
    }
    
    /* Página Orçamento */
    /* intro orçamento */
    
    .intro_orcamento{
        height: 312px;
        padding: 90px 0;
    }
    
    /* Titulos */
    
    .form_aluguel .titulo:after, .form_personalizado .titulo:after{
        width: 450px;
        height: 4px;
    }
    
    /* Dados compra */
    
    .dados_compra{
        flex-direction: column;
    }
    
    .opcoes_plano{
        width: 400px;
    }
    
    .opcoes_plano>div:nth-child(2){
        width: 340px;
    }
    
    .opcoes_plano label{
        width: 170px;
    }
    
    .opcoes_plano>div:nth-child(2) label:nth-child(1), .opcoes_pagamento label:nth-child(1){
        border-radius: 4px 0 0 4px;
    }
    
    .opcoes_plano>div:nth-child(2) label:nth-child(2), .opcoes_pagamento label:nth-child(2){
        border-radius: 0 4px 4px 0;
    }
    
    .opcoes_local img{
        width: 600px;
        height: 400px;
    }
    
    /* Dados cartão */
    
    .dados_cartao{
        flex-direction: column;
    }
    
    .opcoes_pagamento{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    /* Pagina Contato */
    /* Introdução contato */
    
    .intro_contato{
        height: 312px;
        margin-top: 100px;
        background: url("../img/contato/intro/bg_intro_tratada.jpg") center no-repeat;
        background-size: cover;
    }
    
    /* Contato */
    .contato .container{
        flex-direction: column;
    }
    
    /* Rodapé */
    
    footer> .container{
        flex-direction: column;
    }
}

/* Tamanho Desktop */

@media  only screen and (min-width: 1201px){
    
    /* Gerais */
    
    .intro_home, section{
        padding: 90px 0;
    }
    
    
    .titulo_intro{
        letter-spacing: 0.08em;
    }
    
    .titulo{
        font-size: 36px;
        line-height: 48px;
    }
    
    .sub_titulo{
        font-size: 36px;
        line-height: 48px;
    }
    
    .sub_titulo:before{
        margin-bottom: 5px;
    }
    
    .texto_titulo{
        width: auto;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    
    .posts_recentes .nav_slide, .noticias .nav_slide, .loja .nav_slide{
        display: none;
    }
    
    /* Cabeçalho */
    
    header .container{
        width: 1170px;
        padding: 0 30px ;
    }
    
    /* Pagina Home */
    
    .titulo_intro{
        width: 770px;
        font-size: 36px;
        line-height: 48px;
    }
    
    /* Apresentação */
    
    .apresentacao{
        min-height: 600px;
    }
    
    .apresentacao .container{
        flex-direction: row;
    }
    
    .apresentacao .alinharColuna, .apresentacao, .dicas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    /* Posts Recentes */
    
    .posts_recentes{
        min-height: 878px;
    }
    
    .posts_recentes .lista_posts li{
        display: inline-block;
    }
    
    .lista_posts .grid-3{
        width: 270px;
        height: 270px;
    }
    
    /* Noticias */
    
    .lista_noticias .segundaColuna, .lista_noticias .primeiraColuna article:nth-child(2){
        display: inline-block;
    }
    
    .lista_noticias .segundaColuna article{
        height: 510px;
    }
    
    /* Dicas */
    
    .dicas .card_dica{
        margin-top: 60px;
        background: url("../img/home/dicas/bg_dica.jpg") center no-repeat;
        background-size: cover;
    }
    
    .dicas ul .card_dica:nth-child(3){
        display: inline-block;
    }
    
    .dicas .grid-4{
        width: 370px;
        height: 445px;
    }
    
    /* Pagina eventos */
    
    /* Lista de eventos*/
    
    .casamentos .grid-6, .aniversarios .grid-6, .outras_festas .grid-6{
        width: 570px;
    }
    
    .casamentos img, .aniversarios img, .outras_festas img{
        height: 260px;
    }
    
    /* Nossos planos */
    
    .nossos_planos{
        height: 540px;
    }
    
    .nossos_planos .container{
        flex-direction: row;
    }
    
    .card_plano{
        background: url("../img/eventos/planos/bg_plano.jpg") center no-repeat;
        background-size: cover;
    }
    
    /* contrate */
    
    .contrate .container div:nth-child(1){
        display: flex;
        align-items: center;
        color: #fff;
    }
    
    .contrate .container div:nth-child(1) p{
        width: 700px;
        margin: 30px auto;
        font-size: 20px;
        text-align: center;
        line-height: 32px;
    }
    
    .contrate .container div:nth-child(2){
        height: auto;
        width: 370px;
        flex-direction: row;
    }
    
    /* Pagina local */
    /* Sessão exbição */
    
    .locais{
        min-height: 1040px;
    }
    
    .locais>.container{
        width: 1170px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .locais>.container .container{
        height: 952px;
        width: 1170px;
        padding: 30px;
        flex-direction: row;
    }
    
    .locais .container img:nth-child(1){
        width: 1050px;
        height: 400px;
    }
    
    .locais .container img:nth-child(2){
        width: 410px;
        height: 272px;
    }
    
    .locais .container div:nth-child(3){
        margin-left: 130px;
        margin-right: 70px;
    }
    
    .locais .container div{
        margin-top: 30px;
        height: 272px;
        justify-content: flex-start;
    }
    
    .locais .container .btn, .nav_slide{
        margin: 30px auto 0;
    }
    
    /* Pagina servicos*/
    /* Serviços */
    
    .servicos{
        min-height: auto;
    }
    
    .servicos>.container{
        min-height: 560px;
        flex-direction: row;
    }
    
    /* loja */
    
    .loja{
        min-height: 878px;
    }
    
    .loja .lista_decoracoes li{
        display: inline-block;
    }
    
    .lista_decoracoes .grid-3{
        width: 270px;
        margin: 0;
        align-items: center;
    }
    
    .lista_decoracoes li{
        margin-top: 30px;
    }
    
    /* Contrate */
    
    .contrate_servico .container div:nth-child(1){
        display: flex;
        align-items: center;
        color: #fff;
    }
    
    .contrate_servico .container div:nth-child(1) p{
        width: 700px;
        margin: 30px auto;
        font-size: 20px;
        text-align: center;
        line-height: 32px;
    }
    
    .contrate_servico .container div:nth-child(2){
        height: auto;
        width: 370px;
        flex-direction: row;
    }
    
    /* Página orçamento */
    /* Formulário aluguel */
    
    .form_aluguel .sub_titulo{
        text-align: left;
    }
    
    .campo, .campo_duplo{
        margin: 0;
    }
    
    .opcoes_plano{
        align-items: center;
    }
    
    .dados_compra, .dados_cartao{
        width: 1170px;
        flex-direction: row;
    }
    
    .dados_compra{
        align-items: flex-start;
    }
    
    .opcoes_pagamento{
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    
    .dados_local{
        width: 700px;
    }
    
    .opcoes_local{
        width: 700px;
        height: 363px;
        padding: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .opcoes_local img{
        width: 640px;
        height: 200px;
    }
    
    .local_alternativo .campo{
        margin-top: 15px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .local_alternativo .campo input{
        width: 270px;
        height: 40px;
        margin: 0;
    }
    
    /* Formulário personalizado */
    
    .form_personalizado>.container{
        flex-direction: row;
        align-items: flex-start;
    }

    /* Dados para contaro */

    .dados_pra_contato .texto_titulo{
        width: 400px;
    }

    .dados_pra_contato, .personalizacao{
        margin: 30px 0 0;
    }
    
    /* Personalização */
    
    .personalizacao{
        width: 570px;
        height: 650px;
    }
    
    .personalizacao .sub_titulo{
        font-size: 36px;
        line-height: 48px;
    }
    
    .painel{
        height: 330px;
        padding: 30px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .painel h3{
        text-align: left;
    }
    
    .painel .colunas_ser{
        padding: 0 60px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    /* Pagina Contato */
    /* Contato */
    .contato .container{
        flex-direction: row;
    }
    
    .contato .container>div{
        height: 360px;
        font-size: 16px;
        line-height: 20px;
        color: #30403C;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contato .container>div h3{
        font-size: 20px;
        text-align: center;
        line-height: 28px;
    }
    
    .contato .container>div h3:after{
        content: "";
        width: 130px;
        height: 2px;
        margin: 0px auto 30px;
        background-color: currentColor;
        display: block;
    }
    
    .contato .contato_dados li{
        margin-left: 30px;
    }
    
    .contato .contato_sociais{
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* Rodapé */
    
    footer{
        padding: 0;
        height: 185px;
    }
    
    footer .container{
        flex-direction: row;
    }
}